<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>


  <connectionStrings>
    <!--<add name="FleetConnectionString" connectionString="Integrated Security=SSPI;Persist Security Info=False;Data Source=KICHIDI\SQLEXPRESS;Initial Catalog=BTS"/>-->
    <!--<add name="FleetConnectionString" connectionString="Data Source=BJ01\SQLEXPRESS;Initial Catalog=BTS; uid=user; pwd=Mk@5942;"/>-->
    <add name="FleetConnectionString" connectionString="Server=tcp:balajitransports.database.windows.net,1433;Initial Catalog=BTS;Persist Security Info=False;User ID=mkichidi;Password=Gmk@5942;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;"/>
    <!--<add name="FleetConnectionString" connectionString="Integrated Security=SSPI;Persist Security Info=False;Data Source=LENOVO\ACIS1;Initial Catalog=BTS"/>-->

  </connectionStrings>
  <appSettings>
  <add key="AppName" value="InvAdmin"/>
    <add key="MainLI_Addressed" value="  BALAJI TRANSPORTS"/>
    <add key="Address1" value="Office : Plot No. 14, Sathyamangala Industrial Area, Tumkur - 572106"/>
    </appSettings>
</configuration>